/* Fonts */


@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('cuprum'), local('Curum'),
    url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('cuprum'), local('Cuprum'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT sans'), local('ptsans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT sans'), local('ptsans'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}

/* Custom properties */
:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --light-green: #8ED78F;
  --click-green: #518534;
  --basic-gray: #C5C5C5;
  --dark-gray: #A9A9A9;
  --light-gray: #F1F5F7;
  --light-gray-2: #F2F6F8;
  --light-gray-3: #F3F7F9;
  --basic-biege: #F9F5F0;
  --dark-biege: #F7F3EC;
  --orange: #FFBF47;
  --dark-orange: #FFC047;
  --light-orange: #FFD180;
  --sky-blue: #3BBCE3;
  --dark-blue: #293449;
  --light-blue: #32425C;
  --purple: #DC91D8;
  --transparent-gray: rgba(0, 0, 0, 0.0001);
  --transparent-gray-2: rgba(0, 0, 0, 0.25);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --transparent-white-2: rgba(255, 255, 255, 0.3);
}

.page-body {
  font-family: 'Cuprum' ,Arial, sans-serif;
}

/* Header */

.header {
  background-color: var(--light-gray-3);
}

.hidden {
  visibility: hidden;
}

.top-block {
  background-color: var(--dark-blue);
}

.header-button {
  color: var(--basic-white);
  font-family: 'Cuprum' ,Arial , sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  width: 136px;
  height: 42px;
}

.link-active {
  background-color: var(--basic-red);
}

.order-checkout-button {
  background-color: var(--basic-green);
}

.promo-text {
  color: var(--basic-red);
  font-family: 'Cuprum' ,Arial , sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.phone-number {
  color: var(--basic-red);
  font-family: 'Cuprum' ,Arial , sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

.adress {
  color: var(--light-blue);
  font-family: 'Cuprum' ,Arial , sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.login-button {
    color: var(--basic-black);
    font-family: 'Cuprum' ,Arial , sans-serif;
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    text-decoration: none;
    display: inline-block;
}

.profile-list {
  list-style: none;
}

.profile-list a {
  color: var(--light-blue);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}



/* Main menu */

.main-nav {
  background-color: var(--dark-blue);
  width: 940px;
  height: 60px;
}

.site-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: flex;
}

.menu-item a {
  text-decoration: none;
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Features block */

.features-list {
  list-style: none;
}

.features-item {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--basic-gray);
  width: 300px;
  height: 123px;
  display: flex;
}

.features-item-button {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  background-color: var(--transparent-white-2);
  display: block;
  width: 135px;
  height: 38px;
  padding: 10px;
  margin-top: 50px;
  margin-left: -90px;
}

.materials,
.delivery {
  background-color: var(--orange);
}

.tools {
  background-color: var(--sky-blue);
}

.machinery {
  background-color: var(--purple);
}

.discounts {
  background-color: var(--light-green);
}

.slider {
  background-color: var(--basic-gray);
  width: 620px;
  height: 266px;
  margin-bottom: 40px;
  display: block;
  background-image: url(../img/slider-photo-1.jpg);
}

.red-button {
  text-decoration: none;
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
}

.slider-title {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider p {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Products */

.filter-header {
  color: var(--dark-blue);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  background-color: var(--light-gray-2)
}

/* Filter */


.filter-block {
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filter {
  background-color: var(--basic-biege);
}

.range-wrapper {
  width: 220px;
  height: 80px;
  background-color: var(--basic-biege);
}

.range-price {

}


.price-range {
  width: 95px;
  height: 38px;
  background-color: var(--basic-biege);
}


.brands-selection,
.power-selectors {
  list-style: none;
  text-transform: uppercase;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.sorting {
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-biege);
}

.sorting-buttons {
  list-style: none;
}

.sorting-button {
  color: basic-black;
  opacity: 0.3;
  text-decoration: none;
  border-bottom:1px dashed var(--basic-red);
}

.sorting-button-active {
  opacity: 1;
  color: var(--basic-red);
  border: none;
}


/* Popular products */

.popular-header {
  width: 940px;
  height: 89px;
  background-color: var(--basic-biege);
}

.blue-heading {
  color: var(--light-blue);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.products-cards {
  list-style: none;
  font-family: 'PT sans', Arial, sans-serif;
}

.product-headling {
  color: var('--basic-black');
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.price {
  color: var(--basic-white);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--basic-red);
  width: 141px;
  height: 38px;
  }

/* Popular brands */

.popular-brands-list {
  list-style: none;
}

.brand {
  display: block;
  width: 220px;
  height: 145px;
}

/* Services */

.services {
  background-color: var(--light-gray);
}

.black-headling {
  color: var(--basic-black);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  list-style: none;
}

.services-item {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--dark-blue);
}

.services-item-selected {
  color: var(--dark-blue);
  background-color: var(--basic-white);
}

/* Pagination */

.breadcrumb {
  color: var(--basic-black);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.breadcrumbs-list,
.pagination-list {
  list-style: none;
}

.pagination-link {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: inline-block;
  text-decoration: none;
}

.active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* About company */

.transport-company-list {
  color: var(--basic-black);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

/* Footer */

.footer-wrapper {
  background-color: var(--light-blue);
}

.footer-adress {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav {
  list-style: none;
}

.footer-nav a {
    text-decoration: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.top-nav a {
  color: var(--basic-white);
}

.bottom-nav a {
  color: var(--light-orange);
}

/* Footer bottom block */

.footer-bottom-block {
  background-color: var(--dark-blue);
}

.copyright {
  color: var(--basic-white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.social-list {
  list-style: none;
}

.mail,
.authors-link {
  text-decoration: none;
  color: var(--light-orange);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* About tool */
.about-tool {
  width: 1200px;
  height: 261px;
  background-color: var(--light-gray);
}

.about-tool h2 {
  color: var(--basic-black);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.about-tool p {
  color: var(--basic-black);
  font-family: 'PT sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
